.App {
  text-align: center;
}

* {
  color: var(--main-theme);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  font-weight: 600;
  box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.1);;
}

ul li a {   
  text-decoration: none;
}

.logo {
  height: 60px;
  cursor: pointer ;
}

.nav__link {
  list-style: none;
}

.nav__link li {
  display: inline-block;
  padding: 0 30px;
}

.nav__link li a {
  transition: all 0.3s ease 0s;
}

.nav__link li a:hover {
  color: var(--main-theme);
}


button {
  padding: 9px 25px;
  background-color: var(--main-secondary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--main-theme);
  border: solid 1px var(--main-theme)
}

button:hover {
  background-color: var(--main-theme);
  color: var(--main-secondary);
}

:root {
  --main-theme:  rgba(249, 110, 70, 1);
  --main-secondary: white;
}