.App {
  text-align: center;
}

:root {
  --main-theme:  rgba(249, 110, 70, 1);
  --main-secondary: white;
}


* {
  color: var(--main-theme);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menu {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  padding-top: 5px;
  font-weight: 600;
  z-index: 3;
  {/*box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.1);*/}
}

ul li a {   
  text-decoration: none;
  z-index: 3;
}

.logo {
  height: 40px;
  cursor: pointer ;
  animation: fadeIn 1s;
}

.nav__link {
  list-style: none;
  animation: fadeIn 1s;
  z-index: 3;
}

.nav__link li {
  display: inline-block;
  padding: 6px 16px;
  transition: all 0.3s ease 0s;
}

.nav__link li:hover {
  background-color: rgba(86, 86, 86, 0.095);
  transition: all 0.3s ease 0s;
}

.nav__link li a {
  transition: all 0.3s ease 0s;
}

.nav__link li a:hover {
  color: var(--main-secondary);
  background-color: rgba(86, 86, 86, 0.253);
}


button {
  padding: 9px 25px;
  background-color: var(--main-secondary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--main-theme);
  border: solid 1px var(--main-theme);
  animation: fadeIn 1s;
}

button:hover {
  background-color: var(--main-theme);
  color: var(--main-secondary);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

{/* -------------------- */}
{/* -------MAIN--------- */}
{/* -------------------- */}

.section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.main--image {
  height: 100vh;
  width: 100vw;
}

#bestseller {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover ;
  background-image: url('./dejw.jpg');
}

.square--small {
  background-color: rgb(254, 251, 251);
  height: 50vh;
  width: 25%;
  padding: 0.5% ;
  display:inline-block;
  float:left;
}

.square--big {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 50%;
  padding: 0.5%;
  float:right;
}

.banner {
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 50%;
  padding: 0.5%;
  float: left;
}

.banner--right {
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 50%;
  padding: 0.5%;
  float: right;
}

footer {  
  background-color: rgb(35, 35, 35);
   height: 10vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 0px;
   
}

.fill {
  background-color: rgb(155, 155, 155);
  height: 100%;
  position: relative;
}
 .fill:hover{
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.277);
  transform: scale(1.02);
  transition-duration: 300ms;
  z-index: 1; }


  .todo {
        height: 40vh;
        text-align: center;
  }

{/* -------------------------- */}
{/* -------KOMPONENTY--------- */}
{/* -------------------------- */}

.product--name {
  position: absolute;
    bottom: 0;
    right: 20%;
  
}