.App {
  text-align: center;
}

.nav {
  float: left;
  width: 100%;
  box-shadow: 0 2px 4px 0px gray;
  height: 8%;
  padding: 0.3%;
  display: flex;
  
}
 

.logo {
  height: 50px;
  padding-left: 5vw;
}

.nav-items {
  display: flex;
  list-style-type: none;
  background-color: rgb(195, 195, 195);
  justify-content: center;
}

.middle-buttons {
  display: flex;
  padding-left: 20vw;
}

.nav-items > li {
  padding-left: 40px;
}